body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #1b85e9;
    color: white;
    text-align: center;
    padding: 5px;
}
.search-container {
    text-align: center;
    margin: 10px 0;
}

.search-container input {
    padding: 8px;
    font-size: 16px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-container button {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.search-container button:hover {
    background-color: #555;
}

nav {
    text-align: center;
    margin: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

aside {
    width: 25%;
    background: #ddd;
    padding: 15px;
}

main {
    width: 70%;
    background: white;
    padding: 20px;
}

 .catalogue-container {
    width: 90%;
    margin: 20px auto;
    background: rgb(255, 247, 174);
    padding: 20px;
    box-shadow: 0px 0px 10px #ccc;
    text-align: center;
}

.login-container{
    width: 50%;
    height: 80%;
    margin: 20px auto;
    background: rgb(206, 206, 206);
    padding: 20px;
    box-shadow: 0px 0px 10px #ccc;
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 8px;
    font-size: 16px;
}

button {
    background: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    background-color: #333;
    color: white;
}

footer {
    text-align: center;
    padding: 5px;
    background: #ff2b2b;
    color: white;
    margin-top: 5px;
}
